@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);

.title {
    height: 90vh;
    vertical-align: middle;
}

h1 {
    color: white;
    font-family: 'Dancing Script', cursive; 
    width: 55%;
    margin: auto;
    font-size: 10vh;
}

h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif; 
    font-size: 70px;
}

.about-text {
    color:white;
    font-family: 'Roboto', sans-serif; 
    width: 60%;
    padding: 50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: large;
    text-align: center;
    border-style: hidden;
    background-color: rgba(243, 243, 243, 0.589);
    border-radius: 6px;
}
