@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Roboto);

.color-nav {
    background-color: #BE6731;
    color: #8D2A00;
    font-family: 'Roboto', sans-serif; 
}

.nav-brand {
    color: #8D2A00;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}

.nav-button {
    color: red;
}

.nav-button.btn.btn-outline-success {
    color: white;
    background-color: #1F2D16;
    border-style: none;
}

#basic{
    text-align: left;
    font-size: large;
    font-weight: 20px;
}
